@inherits LayoutComponentBase

<head>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<div class="content">
    @Body
</div>

