@page "/"
@using BlazingPizza
@using MyBlazorHybridApp.Shared.Models 
@inject HttpClient Http           
@inject NavigationManager Nav     


<div class="main">
    <h1>Blazing Pizzas</h1>

    <ul class="pizza-cards">
        @if (specials == null)
        {
            <li><em>Loading...</em></li>
        }
        else
        {
            @foreach (var special in specials)
            {
                <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.BasePrice.ToString("C")</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecial>? specials;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Ambil data dari API di Web (Controller SpecialsController)
            specials = await Http.GetFromJsonAsync<List<PizzaSpecial>>("api/specials");            
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error load data: {ex.Message}");
            specials = new List<PizzaSpecial>(); // fallback kalau error
        }
    }
}
